@font-face{
    font-family: "Avenirltstd";
    src: url('../fonts/avenir.otf');
}

@font-face{
    font-family: "Avenirltstd-bold";
    src: url('../fonts/avenir-bold.otf');
}

*{
	margin: 0;
}

button{
	border: none;
	color: #ffffff;
	border-radius: 100%;
}

.container{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
}

.interface{
	border: 1px solid #000;
	margin: 0 auto;
	width: 415px;
	height: 360px;
	position: relative;
}

.logo{
	position: absolute;
	top: 20px;
	left: 160px;
}

.logomarca{
	width: 	90px;
	height: 34.35px;
}

.libraryTitle{
	font-family: 'Avenirltstd-bold';
	color: #0c8e36;
	top: 70px;
	left: 135px; 
	position: absolute;
}

.hidden{
	display: none;
}

.conteudo1{
	padding: 50px 25px;
	height: 260px;
	width: 200px;
	position: absolute;
}

.control{
	background-color: #0c8e36;
	height: 140px;
	width: 200px;
	margin-top: 55px;
	-moz-border-radius: 200px / 130px; 
    -webkit-border-radius: 200px / 130px; 
    border-radius: 200px / 130px;  
}

.rightButton{
	position: absolute;
	top: 145px;
	left: 160px;
	width: 60px;
	height: 60px;
	background-color:#0c8e36;
	font-size: 1.25em;
}

.leftButton{
	position: absolute;
	top: 145px;
	left: 30px;
	width: 60px;
	height: 60px;
	background-color:#0c8e36;
	font-size: 1.25em;
}

.okButton{
	position: absolute;
	top: 135px;
	left: 80px;
	width: 90px;
	height: 80px;
	background-color:#0c8e36;
	border: solid white 3px;
	border-radius: 50%;
	font-family: 'Avenirltstd-bold';
	font-size: 1.25em;
}

.library{
	position: relative;
	left: 70px;
	top: 8px;
	width: 60px;
	height: 60px;	
	background-color: orange;
}

.setaLibrary{
	width: 25px;
	height: 25px;
	margin-top: 5px;
	margin-left: 6px;
}

.navigation{
	position: relative;
	left: 70px;
	top: 8px;
	width: 60px;
	height: 60px;
	background-color:#000000;
	font-family: 'Avenirltstd';
}

.conteudo2{
	height: 260px;
	width: 150px;
	top: 60px;
	left: 240px; 
	position: absolute;
}

.channel{
	height: 50px;
	text-align: center;
	font-size: 2.3em;
	margin-bottom: 6px;
	color: #0c8e36;
	font-family: 'Avenirltstd-bold';
}

.botoesNumericos{
	width: 40px;
	height: 40px;
	font-size: 2em;
	background-color: #d5e5da;
	color: #0c8e36;
	margin: 3px;
	font-family: 'Avenirltstd';
	font-weight: bold;
}


.delete{
	width: 18px;
	height: 18px;
	margin-bottom: 1px;
}

.libraryDesc{
	font-family: 'Avenirltstd';
	color: #0c8e36;
	top: 325px;
	left: 70px; 
	position: absolute;
}


.opacity{
	opacity: 0.5;
}