@font-face{
    font-family: "Avenirltstd";
    src: url('../fonts/avenir.otf');
}

@font-face{
    font-family: "Avenirltstd-bold";
    src: url('../fonts/avenir-bold.otf');
}

*{
	margin: 0;
}

button{
	border: none;
	color: #ffffff;
	border-radius: 100%;
}

.container{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
}

.interface{
	border: 1px solid #000;
	margin: 0 auto;
	width: 415px;
	height: 360px;
	position: relative;
	text-align: center;
}

.content{
	height: 260px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.logo{
	margin-top: 35px;
}

.logomarca{
	width: 	90px;
	height: 34.35px;
}

.libraryTitle{
	font-family: 'Avenirltstd-bold';
	color: #0c8e36;
	top: 80px;
	left: 135px; 
	position: absolute;
}

.control{
	position: relative;
	background-color: #0c8e36;
	height: 140px;
	width: 200px;
	margin-top: 25px;
	-moz-border-radius: 200px / 130px; 
    -webkit-border-radius: 200px / 130px; 
    border-radius: 200px / 130px;  
}

.rightButton{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: 60px;
	height: 60px;
	background-color:#0c8e36;
	font-size: 1.25em;
}

.leftButton{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 60px;
	height: 60px;
	background-color:#0c8e36;
	font-size: 1.25em;
}

.okButton{
	position: absolute;
	top: 20%;
	left: 50%;
	width: 90px;
	transform: translate(-50%);
	height: 80px;
	background-color:#0c8e36;
	border: solid white 3px;
	border-radius: 50%;
	font-family: 'Avenirltstd-bold';
	font-size: 1.25em;
}

.library{
	margin-top: 15px;
	width: 60px;
	height: 60px;	
	background-color: #f39c12;
}

.setaLibrary{
	width: 25px;
	height: 25px;
	margin-top: 5px;
	margin-left: 6px;
}

.navigation{
	margin-top: 15px;
	width: 60px;
	height: 60px;
	background-color:#0c8e36;
	font-family: 'Avenirltstd';
}

.libraryDesc{
	font-family: 'Avenirltstd';
	color: #0c8e36;
}

.hidden{
	display: none;
}